@charset "UTF-8";

@font-face {
    font-family: 'Caveat', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
}

@font-face {
    font-family: 'Satisfy', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
}

:root {
    --fundoSite: #000000ce;
    --textoHeaderFooter: #f7f7f7;
    --secaoNormal: #f1f19d;
    --fontePadrao: Arial, Helvetica, sans-serif;
    --fonteTitulo: 'Caveat', cursive;
    --fonteParagrafo: 'Satisfy', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

body {
    min-height: 100vh;
    font-family: var(--fontePadrao);
}

header {
    padding: 25px;
    width: 100%;
    text-align: center;
    background-color: var(--fundoSite);
}

header > h1 {
    margin-bottom: 20px;
    font-variant: small-caps;
    color: var(--textoHeaderFooter);
    font-family: var(--fonteTitulo);
}

header > p > a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px 10vh 25px;
    line-height: 1.5em;
    font-family: var(--fonteParagrafo);
}

footer {
    margin: 20px 0px;
    padding: 15px;
    width: 100%;
    background-color: var(--fundoSite);
    text-align: center;
}

footer > p > a:hover {
    text-decoration: underline;
}

.headFoot {
    color: var(--textoHeaderFooter);
}

.headFootLink {
    color: var(--textoHeaderFooter);
    text-decoration: none;
    font: normal bold 1em Arial, Helvetica, sans-serif;
}

.vazia {
    background-color: var(--secaoNormal);
    color: black;
}

.conteudo {
    background-color: rgba(26, 25, 25, 0.466);
}

.conteudo > p{
    width: 450px;
    background-color: rgba(27, 26, 26, 0.466);
}